<div class="sitemap">
    <a href="/">Home</a>
    {{ $currentPage := . }}
    {{ $sections := split .RelPermalink "/" }}
    {{ $path := "" }}
    {{ range $index, $element := $sections }}
        {{ if and (ne $element "") }}
            {{ if eq $path "" }}
                {{ $path = $element }}
            {{ else }}
                {{ $path = printf "%s/%s" $path $element }}
            {{ end }}
            {{ if or (ne $index (sub (len $sections) 2)) (not $currentPage.File.LogicalName) }}
                / {{ if eq $currentPage.RelPermalink (printf "/%s/" $path) }}
                    <span class="current">{{ humanize $element }}</span>
                {{ else }}
                    <a href="/{{ $path }}">{{ humanize $element }}</a>
                {{ end }}
            {{ end }}
        {{ end }}
    {{ end }}
    {{ if and (ne .RelPermalink "/") (not .IsSection) }}
        / <span class="current">{{ .Title }}</span>
    {{ end }}
</div>