<div class="sitemap">
    <a href="/">Home</a>
    {{ $currentPage := . }}
    {{ $sections := split .RelPermalink "/" }}
    {{ $path := "" }}
    {{ $lastSection := "" }}
    {{ range $index, $element := $sections }}
        {{ if and (ne $element "") (ne $index (sub (len $sections) 1)) }}
            {{ if eq $path "" }}
                {{ $path = $element }}
            {{ else }}
                {{ $path = printf "%s/%s" $path $element }}
            {{ end }}
            {{ $sectionTitle := humanize $element }}
            {{ if ne $sectionTitle $lastSection }}
                / {{ if eq $currentPage.RelPermalink (printf "/%s/" $path) }}
                    <span class="current">{{ $sectionTitle }}</span>
                {{ else }}
                    <a href="/{{ $path }}">{{ $sectionTitle }}</a>
                {{ end }}
                {{ $lastSection = $sectionTitle }}
            {{ end }}
        {{ end }}
    {{ end }}
    {{ if and (ne .RelPermalink "/") (ne (humanize .Title) $lastSection) }}
        / <span class="current">{{ .Title }}</span>
    {{ end }}
</div>
