{{ define "main" }}
{{ .Content }}
<h2 style="font-size: 20px">Topics</h2>
<ul>
  {{ range .Site.Sections }}
    {{ if and (ne .Title "About") (ne .Title "Me") }}
      <li><a href="{{ .RelPermalink }}" style="font-size: 15px">{{ .Title }}</a></li>
    {{ end }}
  {{ end }}
</ul>

<h2 style="font-size: 20px">Categories</h2>
<div style="font-size: 15px" class="home-tags">
  {{ range .Site.Taxonomies.categories }}
    <a href="{{ .Page.Permalink }}" class="home-tag">{{ .Page.Title }}</a>
  {{ end }}
</div>

<h2 style="font-size: 20px">Tags</h2>
<div style="font-size: 15px" class="home-tags">
  {{ range .Site.Taxonomies.tags }}
    <a href="{{ .Page.Permalink }}" class="home-tag">{{ .Page.Title }}</a>
  {{ end }}
</div>
{{ end }}
